body:not(.dark-mode) button.filter {
  color: white;
  background: #53738e !important;
  border-radius: 5px;
  border: none;
  margin: 5px;
  padding: 4px 6px !important;
}
body:not(.dark-mode) button.filter:hover {
  background: #4b6982 !important;
}
body:not(.dark-mode) .close-container {
  position: absolute;
  top: 0px;
  right: 0px;
  background: transparent !important;
}
body:not(.dark-mode) .close {
  padding: 10px !important;
  line-height: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: white;
  background: #53738e !important;
  border: none;
  outline: none !important;
}
body:not(.dark-mode) .close:hover,
body:not(.dark-mode) .close:focus {
  background: #4b6982 !important;
}
body:not(.dark-mode) dialog {
  min-width: 427px;
  padding: 16px;
  background: white !important;
  box-shadow: 0 0 32px 16px rgba(0, 0, 0, 0.32);
  transition: all 0.3s ease;
  border-radius: 10px;
  color: transparent !important;
}
body:not(.dark-mode) #modal-content {
  padding-top: 20px;
}
body:not(.dark-mode) textarea.filter-box {
  display: block;
  width: 100%;
  margin-top: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body:not(.dark-mode) .flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body:not(.dark-mode) .btn {
  color: white;
  background: #53738e !important;
  border-radius: 5px;
  border: none;
  margin: 5px;
  padding: 10px 20px !important;
}
body:not(.dark-mode) .filter-column {
  margin-bottom: 10px;
  color: #151617 !important;
}
body:not(.dark-mode) .btn-secondary {
  cursor: pointer;
  padding: 4px 6px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #80b2da !important;
}
body:not(.dark-mode) .btn-secondary:hover {
  background-color: #71a5cf !important;
}
body.dark-mode {
  background-color: #161719 !important;
}
body.dark-mode * {
  background-color: inherit !important;
}
body.dark-mode .module,
body.dark-mode #content-related {
  background: #25292c !important;
}
body.dark-mode table,
body.dark-mode th,
body.dark-mode td {
  border-color: #34383b !important;
}
body.dark-mode .results td,
body.dark-mode .results th {
  color: white !important;
}
body.dark-mode a:link,
body.dark-mode a:visited {
  color: #8bb6cc !important;
}
body.dark-mode .module h2,
body.dark-mode .module caption,
body.dark-mode .inline-group h2 {
  background: #3b4144 !important;
}
body.dark-mode #content-related .module h2 {
  color: #8bb7cc !important;
}
body.dark-mode button.filter {
  color: white;
  background: #53738e !important;
  border-radius: 5px;
  border: none;
  margin: 5px;
  padding: 4px 6px !important;
}
body.dark-mode button.filter:hover {
  background: #4b6982 !important;
}
body.dark-mode .close-container {
  position: absolute;
  top: -15px;
  right: -15px;
  background: transparent !important;
}
body.dark-mode .close {
  padding: 10px !important;
  line-height: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: white;
  background: #53738e !important;
  border: none;
  outline: none !important;
}
body.dark-mode .close:hover,
body.dark-mode .close:focus {
  background: #4b6982 !important;
}
body.dark-mode dialog {
  min-width: 427px;
  padding: 16px;
  background: white !important;
  box-shadow: 0 0 32px 16px rgba(0, 0, 0, 0.32);
  transition: all 0.3s ease;
  border-radius: 10px;
  color: transparent !important;
}
body.dark-mode #modal-content {
  padding-top: 20px;
}
body.dark-mode textarea.filter-box {
  display: block;
  width: 100%;
  margin-top: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body.dark-mode .flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body.dark-mode .btn {
  color: white;
  background: #53738e !important;
  border-radius: 5px;
  border: none;
  margin: 5px;
  padding: 10px 20px !important;
}
body.dark-mode .filter-column {
  color: #151617 !important;
}
body.dark-mode .btn-secondary {
  background-color: #80b2da !important;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  border-radius: 5px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tab-link class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tab-content {
  display: none;
}

fieldset {
  padding: 10px !important;
  display: inline-block;
}

fieldset label {
  color: black;
}

fieldset label:not(:first-child) {
  margin-left: 15px;
}

input.form-control {
  width: 100%;
  box-sizing: border-box;
}

p {
  color: black;
}

.wide {
  width: 100%;
  margin: 10px 0;
  color: #999;
}
